.App {
    width: 800px;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
    padding: 15px 15px 0 15px;
    background-color: white;
    border-radius: 8px;
}

.posts {
  display: flex;
  padding: 15px;
  font-size: 15px;
  margin: 15px 0;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(30, 107, 248, 0.733);
  border-radius: 5px;
}

.postsContent{
  cursor: pointer;
}

.buttonShowСonstructor{
  text-align: right;
}

.blockButtonsCreatePost{
 display: grid;
 grid-template-columns: 1fr 2fr;
}

@media (max-width: 500px) {
  .blockButtonsCreatePost{
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
   }
}
